[2017-09-14 16:44] lumpfish opened #3 "stf looks for tools.jar which does not exist on Java 9"
openjdk.test.debugging/.classpath contains an entry for tools.jar, which is required if tests are running on java 8.
tools.jar is absent on Java 9 - the classes have been merged into the jdk modules.
stf stops with an exception if any of the classpath entries cannot be found.
Tests still need to run against Java 8, so the classpath entry needs to be present in that situation.
Some code should be a

[2017-09-14 17:03] lumpfish commented on #3
PR submitted to fix: https://github.com/AdoptOpenJDK/stf/pull/4

[2017-09-15 10:00] lumpfish commented on #3
@sxa555, please can you rerun the test with Java 9 and close if OK

[2017-09-20 10:38] sxa commented on #3
Looks good. Closing

[2017-09-20 10:38] #3 closed, assigned to lumpfish

[2017-09-28 16:17] sxa opened #7 "Discuss and agree correct way to detect OpenJ9 builds vs IBM builds"
As a tactical "quick fix" I put in https://github.com/AdoptOpenJDK/stf/pull/5 to address https://github.com/eclipse/openj9-systemtest/issues/2 where the OpenJ9 version strings were not being detected as the methods were designed to assume that J9 == IBM Java - the fix involved modifying `isIBMJvm()` in JavaVersion.java to allow `OpenJ9` in the version string as well as `IBM` to give a `true` retur

[2017-09-28 17:04] lumpfish commented on #7
The use case is to detect whether or not certain capabilities are available - e.g. to fire a signal at the JVM to get a core dump if a process is hung, so OpenJ9 and IBM Java are currently synonymous.  However, maybe that will change.
So isIBMJvm (definitely IBM Java), isOpenJ9Jvm (definitely OpenJ9) and isJ9Jvm (either IBM Java or OpenJ9) would appear to cover all the options.  The test implement

[2017-10-09 08:52] lumpfish opened #8 "Use powershell to kill process on Windows rather than pskill"
STF uses pskill.exe from Windows Sysinternals to kill processes - either just to stop processes such as tnameserv at the end of a test or to terminate hung / looping tests processes.

Sometimes pskill.exe itself does not terminate and shows in Task Manager as using all available CPU.  We don't know why this happens and have been unable to find a solution.  However, powershell (which is available b

[2017-10-10 10:46] lumpfish opened #9 "Support running tests against java builds with no bin/java.exe"
The AdoptOpenjdk java 8 builds do not have a bin/java(.exe) file, they only have a jre/bin/java(.exe) file.
STF requires that JAVA_HOME points to the directory above the /bin containing java(.exe).  If that is set to /jre it is OK for most tests, but tests which need access to tools such as javac, javah or jar cannot then locate them via JAVA_HOME.

[2017-10-10 10:56] lumpfish opened #10 "The results of failed tests are deleted if many tests are run in sequence"
STF creates a unique directory for each test.  After 10 (by default) directories have been created, the first is deleted before creating the 11th.  This prevents results from using too much disk space (the resutls files may be very large), but retains sufficient history for normal desktop use.
Full regression tests such as test runs within Jenkins build pipelines run many tests in sequence.  If mo

[2017-10-10 11:35] lumpfish commented on #9
The latest AdoptOpenJDK java 8 builds do have a bin/java.exe file, so this doesn't need to be done unless we encounter any other jre builds with no bin/java.exe in future.

[2017-10-16 08:42] gdams commented on #9
@lumpfish yeah that shouldn't have been happening.... Have you got a copy of the Binary that didn't have `bin/java.exe`?

[2017-10-25 08:45] lumpfish commented on #8
Fixed in https://github.com/AdoptOpenJDK/stf/pull/11

[2017-10-25 08:45] #8 closed, assigned to lumpfish

[2017-10-25 08:47] lumpfish commented on #9
I had deleted the old binary I was using when I got the latest version.  I've re downloaded it from the AdtopOpenJDK download site, but the bin/java.exe is there.  I can only assume I had accidentally deleted the java.exe on my local machine.

[2017-10-25 08:47] #9 closed, assigned to nobody

[2017-10-26 18:49] Mesbah-Alam opened #12 "Ant environment variable "ant.java.version" returns 1.8 for Openj9 SDK"
**Overview**
We have a dependency on Ant environment variable "ant.java.version" in our logic in openjdk.build/include/top.xml (target check-for-tools-jar), where we are trying to figure out the SDK we are testing. If it's Java 8, we copy tools.jar in prereqs folder, if Java 9 we do not.

This however doesn't work very well, since Ant is returning 1.8 as the value for "ant.java.version" even when

[2017-10-26 18:56] Mesbah-Alam commented on #12
I ran "ant -diagnostics" with both IBM Java 8 SR6, and OpenJ9. Below are some comparison of values I got for some of the relevant Ant variables.

**OpenJ9**
ant.java.version : 1.8
java.vm.version : 2.9
java.vm.vendor : Eclipse OpenJ9
java.runtime.version : 9-internal+0-adhoc.openj9.openjdk
java.fullversion : 9-internal+0-adhoc.openj9.openjdk
JRE 9 IBM J9 2.9 Linux amd64-64 Compressed References 20

[2017-10-26 19:19] Mesbah-Alam commented on #12
This issue blocks the openjdk-systemtest OpenJ9 build to be runnable in Ottawa.

[2017-10-26 20:01] Mesbah-Alam commented on #12
Using java.specification.version - as a temporary fix (in my branch) to unblock the OpenJ9 build.

[2017-10-31 16:19] sabkrish opened #13 "Malformed \uxxxx encoding error during make configure"
On my laptop, running make configure resulted in the below error.

c:\git\openjdk-systemtest\openjdk.build\include\top.xml:64: The following error occurred while executing this line:
c:\git\openjdk-systemtest\openjdk.build\include\top.xml:447: java.lang.IllegalArgumentException: Malformed \uxxxx encoding.
        at java.util.Properties.loadConvert(Properties.java:618)
        at java.util.Propert

[2017-11-14 09:58] adamfarley commented on #10
Sounds like this is complete, after the changes I made. The makefile option to delete the results from passed runs is:

RM_PASS=1

[2017-11-14 11:36] #10 closed, assigned to Mesbah-Alam, adamfarley, lumpfish

[2017-11-14 12:20] lumpfish opened #16 "Add support for ARM"
See also https://github.com/AdoptOpenJDK/openjdk-systemtest/issues/42

"Attempting to run the tests on arm fails with
    GEN stderr Caused by: net.adoptopenjdk.stf.StfException: Unknown architecture value: 'arm'. Expected one of '390|x86|ppc|x86'"

[2017-11-14 17:20] lumpfish commented on #16
PR submitted at https://github.com/AdoptOpenJDK/stf/pull/17

[2017-11-14 23:29] #16 closed, assigned to lumpfish

[2017-11-21 10:37] sabkrish commented on #13
The failing section of code is not present in the top.xml present in STF repo. I had raised the issue thinking it needed a fix there too. Closing the issue.

[2017-11-21 10:37] #13 closed, assigned to nobody

[2017-12-19 18:28] Mesbah-Alam opened #18 "${java.home} not set correctly in builds that use STF based systemtests"
After incorporating the systemtest with openjdk-test, we are seeing an issue where java8_bindir variable doesn't point to the correct path.

The issue occurs in builds triggered from upstream, e.g.:
https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_openj9_test_x86-64_linux/91/consoleFull

However, the issue does not occur when we launch the same build manually, using 'nightly' sdk, e.g

[2017-12-19 18:28] Mesbah-Alam commented on #18
${java8_bindir} is set based on ${java8_home} (in stf.build/include/top.xml), and ${java8_home} is set based ${java.home} (in openjdk.build/include/top.xml, target `setup-java8-properties).

In the failing case, we need to find out what ${java.home} is being set to.

[2017-12-19 18:37] Mesbah-Alam opened #19 "Add more debug messsages to systemtest build scripts"
We need to add more debug messages to  setup-java8-properties target under openjdk-build/include/top.xml script in order to see in the job log what java.home is being set to. This will help us investigate issues like https://github.com/AdoptOpenJDK/stf/issues/18

[2017-12-19 18:42] Mesbah-Alam commented on #19
PR: https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/51

[2017-12-19 21:08] Mesbah-Alam commented on #18
Temporarily disabled systemtests to be built as part of openjdk-test builds : https://github.com/AdoptOpenJDK/openjdk-tests/pull/189

[2017-12-19 22:03] Mesbah-Alam commented on #18
Hi Simon,

We could not solve the issue why java8_bindir doesn't get set every now and again.

It sometimes works, e.g. it worked here : https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_openj9_test_x86-64_linux/93/consoleFull

On the same machine, it failed here: https://ci.adoptopenjdk.net/view/OpenJDK%20tests/job/openjdk9_openj9_test_x86-64_linux/94/console

Please note that, I have

[2017-12-20 11:00] lumpfish commented on #18
It is not the stf repository build which is failing, it is the openjdk-systemtest repository build (stf.build/include/top.xml does not contain the set-platform-properties macro, it is only in openjdk-systemtest.build/include/top.xml).

In a failing run I see

21:09:24 setup-java8-properties:
21:09:24      [echo] java.home is /usr/lib/jvm/java-9-openjdk-amd64
21:09:24      [echo] java8_bindir set t

[2017-12-20 13:17] lumpfish commented on #18
The value of java8_compiler appearing as
java8_compiler set to /home/jenkins/workspace/openjdk9_openj9_test_x86-64_linux/openjdk-test/systemtest/openjdk-systemtest/openjdk.build/${java8_bindir}/javac
can be explained by ant's behaviour when a file cannot be located:

From the ant property task documentation:
"location:  Sets the property to the absolute filename of the given file. If the value of

[2017-12-20 13:29] lumpfish commented on #18
Is it possible that the ant java.home property (i.e. the java system property) has trailing whitespace in the failing jobs, which means we would be looking for ${java.home}/jre(space)/bin/javac, not ${java.home}/jre/bin/javac?

[2017-12-20 13:41] lumpfish commented on #18
Got some help from @sxa looking at the java installations in the different runs.  There is no trailing space in the java.home property, but the java installed at /usr/lib/jvm/java-9-openjdk-amd64/bin has no javac in it (a jre rather than a jdk installation).  One the machine where the test passes there is a javac.
So the code is working as designed.  The java being used for the test material build

[2017-12-20 13:52] sxa commented on #18
We'll need to look into the ansible scripts to determine exactly why but here's the output from `test-scaleway-x64-ubuntu-16.04-1`:

[code]

and here's the same from `test-packet-x64-ubuntu-16.04-1`:

[code]

[2017-12-20 15:01] Mesbah-Alam commented on #18
Yes, Ant is being used to clone and build stf and openjdk-systemtest materials.

`<target name="build-dependencies" depends="compile_stf">
		<ant antfile="${SYSTEMTEST_ROOT}/openjdk-systemtest/openjdk.build/build.xml" dir="${SYSTEMTEST_ROOT}/openjdk-systemtest/openjdk.build" inheritAll="false"/>
		<antcall target="dist" inheritall="true" />
	</target>`

`<target name="compile_stf" depends="configu

[2017-12-20 20:19] Mesbah-Alam commented on #18
As discussed with Simon and Shelley, setting JAVA_HOME to the SDK under test in the Jenkinsfile solves the problem, as STF requires JAVA_HOME to be set in order for it to figure out which JDK to use for compiling STF and systemtest artifacts.

I made the update to Jenkinsfile in my branch and ran ran a few builds to test:

1) Here's a `openjdk9_openj9_systemtest_x64_linux` build I launched manuall

[2017-12-20 20:34] Mesbah-Alam commented on #18
New PR created with the changes: https://github.com/AdoptOpenJDK/openjdk-tests/pull/191

[2017-12-29 16:21] sxa opened #20 "STF needs to support running on OSX"
This message says it all :-)

`GEN stderr Exception in thread "main" net.adoptopenjdk.stf.StfException: Unknown platform for osgi.os: osx_x86-64`

[2017-12-29 16:23] gdams commented on #20
looks like a similar change was made for arm in https://github.com/AdoptOpenJDK/stf/commit/a91a00457a9cf315682fb8d340b1162a0d66e288

[2017-12-29 16:27] sxa opened #21 "JCK Makefile needs to support OSX in the PLATFORM variable"
Needs (at least) `LIBEXT` to be set to `.dynlib`

[2017-12-29 18:29] Mesbah-Alam commented on #21
Hi @sxa555 , was just wondering, are you already working on making this change?

[2018-01-02 11:31] sxa opened #22 "Externalise option for storing how many results are kept in /tmp/stf (or RESULTS_ROOT)"
For the JCK we need to retain the full set of results. Currently only 10 directories under /tmp/stf are retained by default. This is defined as `$results_retention_number` in `stf.pl` and should be externalised (potentially with a value of zero or -1 indicating not to roll the logs.

[2018-01-02 16:46] sxa commented on #20
Grrr the system property `os.name` for OSX is `Mac OS X`. Shall I squash spaces, strip after the first space, or leave it and hope nothing goes wrong ...

[2018-01-02 16:48] gdams commented on #20
I would say that strip after the first space... `Mac` should be good enough to check

[2018-01-02 17:07] sxa commented on #20
I'm going to backtrack a bit - there is some initial support in there and it's mapping the platform name to `osx`. I think I'd prefer using `macos` and given that it doesn't seem to work at present I might as well change it. Some of the variables refer to OSGI names for the platforms though - not sure if there's a definitive list of OSGI platform names anywhere that might sway the decision ... @lu

[2018-01-02 17:56] lumpfish commented on #20
STF is mimicking what it thinks Eclipse sets its osgi.os property, which from some googling appears to be `macosx`.  So the quickest 'fix' is to change getPlatform (if that's the correct method name?) to return that.

More generally it would be best to align what all the various test and build systems are naming their platforms to include
implementer (of a jvm)
processor (x86, arm, ppc etc.)
bits

[2018-01-02 18:59] #21 closed, assigned to nobody

[2018-01-03 12:44] sxa commented on #20
Oi @gdams stop closing my issues before they're confirmed as working :-P

[2018-01-03 12:56] gdams commented on #20
You'll find that it was automatically closed by the words `fixes #20` in your PR ;)

[2018-01-03 17:07] #19 closed, assigned to Mesbah-Alam

[2018-01-03 17:43] #18 closed, assigned to Mesbah-Alam

[2018-01-04 11:41] #22 closed, assigned to sxa

[2018-01-04 15:28] Mesbah-Alam commented on #12
PR delivered for this issue: https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/24/files

[2018-01-04 15:28] #12 closed, assigned to Mesbah-Alam

[2018-02-01 22:47] terryzuoty opened #28 "Use `ant -diagnostics` instead of `realpath` to get ANT_HOME"
In the makefile of stf, this parts of code is trying to define the ANT_HOME
[code]

However, this part of code doesn't work as expected on RHEL7

**RHEL7:**
[code]

**Ubuntu16:**
[code]

Instead of using `realpath` in the makefile, is using `ant -diagnostics` a proper approach to get the correct ant.home? For example
[code]
There should be a same way on Windows to parse the `ant -diagnostics` resu

[2018-02-05 16:24] terryzuoty commented on #28
HI @sxa555 , do you have any insight about this?

[2018-02-05 20:31] Mesbah-Alam opened #29 "Add Java 10 to the list of supported JVMs"
We currently do not have any support for Java 10 in STF. So, STF breaks with the following exception once run with Java 10 :
`04:38:39 GEN stderr Exception in thread "main" net.adoptopenjdk.stf.StfException: Unknown JVM release: linux_ppcle-64`

Link to failure: https://ci.adoptopenjdk.net/view/System%20tests/job/openjdk10_hs_systemtest_ppc64le_linux/2/

The fix is to add support for Java version

[2018-02-05 21:04] Mesbah-Alam commented on #29
PR: https://github.com/AdoptOpenJDK/stf/pull/30

[2018-02-05 21:09] Mesbah-Alam commented on #29
Personal build running with this change:https://ci.adoptopenjdk.net/view/work%20in%20progress/job/test_personal/175/console

[2018-02-05 21:15] #29 closed, assigned to Mesbah-Alam

[2018-02-08 16:23] terryzuoty opened #31 "ant 1.10.1 is not downloadable from the hardcoded link in top.xml"
**Error message:**

10:53:49 configure-ant-1.10.1:
10:53:49      [echo] Executing macro download-file
10:53:49      [echo] srcurl is http://www-eu.apache.org/dist//ant/binaries/apache-ant-1.10.1-bin.zip
10:53:49      [echo] destdir is /tmp/apache-ant-1.10.1
10:53:49      [echo] destfile is apache-ant-1.10.1-bin.zip
10:53:49      [exec] --2018-02-08 15:53:35--  http://www-eu.apache.org/dist//ant/bi

[2018-02-08 16:23] terryzuoty commented on #31
FYI @Mesbah-Alam

[2018-02-08 17:20] Mesbah-Alam commented on #31
Fyi.. @lumpfish : We need to find a way to, preferably, automatically detect the latest version of ant and download it. Otherwise we'd be stuck with having to manually update the Ant URL path everytime they update to a new version.

[2018-02-09 09:37] lumpfish commented on #31
The danger of always using 'latest' is that you run the risk of the build failing one day and not realising there has been a potentially big change in one of the prereqs.  (Is there a 'latest' link?)

ant 1.10.n is required because of its support for modularity.  The linux standard installs (apt-get ant etc.) install 1.9.x.

I see no reason not to move up to 1.10.2 but it would be wise to check th

[2018-02-12 10:08] karianna commented on #31
I think this can be closed now yes?

[2018-02-12 17:06] Mesbah-Alam commented on #31
@karianna - not yet :)... Based on Simon's comment, we have decided to point to archive.apache.org/dist/ant/binaries/apache-ant-1.10.1-bin.zip instead of the latest, so that we can safely say that it will work with modularity tests (when they do become available in openj9)

[2018-02-12 23:01] Mesbah-Alam commented on #31
@TianyuZuo - I asked you to review the following PR which reverts the change made previously to update Ant version to 1.10.2: https://github.com/AdoptOpenJDK/stf/pull/33.
Once this goes in, I'll have another PR to update the Ant download url to archive.apache.org/dist/ant/binaries/apache-ant-1.10.1-bin.zip

[2018-02-13 11:10] sxa commented on #28
A fair comment and that sounds like a reasonable approach - that code predates me being involved with the project so I'll tag in @lumpfish :-)

[2018-02-13 11:20] sxa commented on #31
@Mesbah-Alam Can you prepare the new PR so we can merge both simultaneously (or create an alternate PR that does the change to pick up 1.10.1 from the new location) as the current code will break on it's own and I wouldn't want to leave it in such a state

[2018-02-13 16:34] Mesbah-Alam commented on #31
Created an alternative PR that includes reverting 1.10.2->1.10.1 plus the change to the Ant.zip Archive path: https://github.com/AdoptOpenJDK/stf/pull/34/files , @TianyuZuo @sxa555

[2018-02-13 18:20] sxa commented on #31
Looks good - I did a diff with the version before the change was made and nothing controversial in there - will approve it :-)

[2018-02-13 19:13] #31 closed, assigned to Mesbah-Alam

[2018-03-27 14:41] sxa opened #35 "STF fails to run JCK10"
STF makefile is not currently able to build the natives for JCK10. Assigning to @lumpfish for now on the assumption that I may not get around to fixing this before the end of the week.

Error is as follows:
[code]

[2018-04-05 07:55] #35 closed, assigned to lumpfish

[2018-04-19 12:56] lumpfish commented on #28
@TianyuZuo - what is it you are saying is not working?  Are you saying that on RHEL /tmp/svttemp/git/stf/../../systemtest_prereqs/apache-ant-1.10.1/lib/ant-launcher.jar does actually exist?  Since the code is trying to find ant I can't see how running ant is going to help.  What if ant is not on the path?

[2018-04-19 15:28] terryzuoty commented on #28
Not exactly.
What I was trying to talk about is the Ant in the system which was initially used to run the top level build.xml, not the stf-downloaded Ant.

If the Ant in the system was not successfully setup, the code snippet in the makefile may fail to find the realpath of system installed Ant. Taking that RHEL machine as an example, the Ant was installed in `/usr/share/ant/bin/ant` but the makef

[2018-04-19 16:39] lumpfish commented on #28
Looking at the gmake doc: https://www.gnu.org/software/make/manual/html_node/File-Name-Functions.html realpath is supported to follow symlinks.  Do you still have access to the machine where this is not working?  I see you have included make -version output - are you saying there is an issue with realpath in make 3.82?

[2018-05-14 10:27] lumpfish opened #36 "Support forward slashes in -results-root on Windows"
STF checks that at least 3Gb is avialable in the results directory before running a test by running (on Windows) the dir command to get the available space.

The dir command doesn't work if forward slashes are in the path to the directory.

STF generally is tolerant of either forward slashes or backslashes in paths on Windows, so removing the -results-root restriction imposed by this would be a us

[2018-05-15 10:52] #36 closed, assigned to lumpfish

[2018-05-23 22:27] Mesbah-Alam opened #38 "Update JlinkDefinition.java in stf to match the latest set of jlink plugin options"
JlinkDefinition contains access functions to add jlink plugin options. Some of the options have become obsolete - e.g. --copy-files etc.

The latest options are (as output by <jdk>bin/jlink --list-plugins):

[code]

We need to update JlinkDefinition.java to match the latest options.

[2018-06-25 16:26] lumpfish opened #42 "Generated results directory names may be too long on Windows"
Some Windows 32 JCK runs fail because the paths generated during testing are too long for the Windows APIs - e.g.

The path R:\results\20180624-163517-Jck\results\workdir\classes\atomic\base64binary\schemainstance\nistschemasvivatomicbase64binaryenumeration1\javasoft\sqe\tests\atomic\base64binary\schema_instance\nistschema_sv_iv_atomic_base64binary_enumeration_1\ObjectFactory.class is too long.
Th

[2018-07-02 12:07] lumpfish commented on #42
Fixed by https://github.com/AdoptOpenJDK/stf/pull/43

[2018-07-02 12:07] #42 closed, assigned to lumpfish

[2018-07-04 19:03] Mesbah-Alam opened #44 "Add helper methods for Java 11 in JavaVersion class"
STF fails to detect Java version correctly on Java 11

From JavaVersion.java:
[code]
This doesn't match with the actual Java -version output.

**java -version output from openjdk11:**

[code]

**java -version output from openjdk11-openj9:**

[code]

Related error:

[code]
https://ci.adoptopenjdk.net/view/work%20in%20progress/job/Grinder/107/consoleFull

[2018-07-30 19:03] Mesbah-Alam commented on #44
STF internally converts "openjdk version" to "java version" and then compares. This works for Java 11 only when we add a trim() at the end of the processed Java version String (unlike other Java versions). This must have to do with change in for version output in Java 11.

[2018-07-30 19:09] #44 closed, assigned to Mesbah-Alam

[2018-10-16 14:37] lumpfish commented on #7
AdoptOpenJDK openjdk-openj9 builds are currently not being detected as using a J9 VM because stf.load has an isIBM method with the check:
[code]
java.vm.vendor contains "Eclipse OpenJ9" in AdoptOpenJDK openjdk-openj9 builds.

[2018-10-16 15:32] lumpfish commented on #7
Fixed the not taking dumps issue in https://github.com/AdoptOpenJDK/stf/pull/46

[2018-10-16 15:32] #7 closed, assigned to lumpfish

[2018-10-16 15:33] lumpfish commented on #20
@sxa555 - can this be closed now?

[2018-11-12 22:14] smlambert opened #47 "Fix main page link to systemtest repo"
Currently the link has is to openjdk-systemtests so is broken, as the repo name is openjdk-systemtest

I do not see that I have editing rights to make that change, so opened this issue.

[2018-11-12 22:18] Mesbah-Alam commented on #47
Can you please post the name of the file in which you see this broken link?

[2018-11-13 00:09] smlambert commented on #47
<img width="725" alt="screen shot 2018-11-12 at 7 08 37 pm" src="https://user-images.githubusercontent.com/2836948/48382316-82ebf580-e6ae-11e8-8ba7-d459427d7442.png">

[2018-11-13 20:11] Mesbah-Alam commented on #47
It seems to be an introductory description of the stf repo itself. This line does not exist in any file inside the repo. Also, I do not see any option in the repo page to edit it. @lumpfish - could you please have a look?

[2018-11-14 11:30] lumpfish commented on #47
This link describes how to change it: https://stackoverflow.com/questions/7757751/how-do-you-change-a-repository-description-on-github,, but the option 'Edit' is not there when I look at the repository.   The option is there on my fork of the repository, so I assume there some authorisation we don't have.  @karianna ?

[2018-11-14 16:56] karianna commented on #47
Yep - Fixed!

[2018-11-14 16:56] #47 closed, assigned to karianna

[2018-12-10 21:19] Mesbah-Alam opened #49 "Remove use of subst when on Cygwin"
From version 1.7.0, for Cygwin, `PATH_MAX=4096`: https://cygwin.com/ml/cygwin-announce/2009-02/msg00018.html

Both Adopt as well as OpenJ9 machines use Cygwin 2.10.0

@lumpfish  - Given the above, do we need to use `subst` to shorten Windows paths while on Cygwin?

[2018-12-10 21:19] Mesbah-Alam commented on #49
@lumpfish can we edit the condition of the following if statement and add a check for Cygwin as well?

https://github.com/AdoptOpenJDK/stf/blob/21a60ab0fecaf127142882aa37ffce1cf9438fa4/stf.core/scripts/stf.pl#L347

[2018-12-12 17:12] Mesbah-Alam commented on #49
Originally added by this PR: https://github.com/AdoptOpenJDK/stf/pull/43#event-1699410541

[2018-12-12 17:13] Mesbah-Alam commented on #49
Note: this use of subst is causing system tests to not run on openj9 builds.

[2018-12-12 17:26] lumpfish commented on #49
The long filename issue is that some windows commands (eg. copy, rmdir) will not work with long path names longer than 260 chars (including slashes and drive).  The underlying file system supports longer file names so you can create files but then potentially not be able to run commands against them.

Typically the issues arise when there is a third party test suite which is unzipped beneath a cer

[2018-12-12 17:45] Mesbah-Alam commented on #49
Do we run or plan to run JCKs or Eclipse tests any more in the new builds?

[2018-12-12 17:46] Mesbah-Alam commented on #49
Also thinking, can there be a case where the platform we are running on is not Cygwin but is MSWin32 ? I.e., if we decide to add the new condition, does it even make sense to have the subst code at all.

[2018-12-12 18:25] lumpfish commented on #49
I can only say that the code is there because those issues have been encountered in the past.  If you remove the subst there is a chance they might reappear depending on what files are in or are created by the tests being run.  You could just comment the code out for now and see whether any tests currently being run suffer as a result.

[2018-12-12 19:59] karianna commented on #49
Not the JCK no.

[2018-12-13 18:33] Mesbah-Alam commented on #49
@lumpfish - thanks for clarifying. I will go ahead and comment out the subst related code in stf.pl. Test shows that the system tests on Windows run normally with this change in internal Jenkins as well as openj9 jenkins. Will create new issue if the problem re-appears in future.

[2018-12-13 19:00] #49 closed, assigned to Mesbah-Alam

[2018-12-19 20:35] Mesbah-Alam opened #51 "Add a flag in STF Load test to skip generating core dumps when not required"
For test cases such as SharedClassesWorkloadTest_Softmx_Increase, part of the test is to run a "workload" such as "mini-mix" load. The Java sub-process)that runs this load is allowed to return 0 or 1; i.e., we do not care if some of the tests fail, we only care to run the "load" ( e.g. the main objective of the test-case can be to fill up the shared classes cache in a desired way only).

However,

[2018-12-19 21:59] Mesbah-Alam commented on #51
FYI @lumpfish

[2018-12-20 18:04] #51 closed, assigned to Mesbah-Alam

[2019-01-03 16:25] Mesbah-Alam opened #53 "Parameterize inactivity limit"
The "timeout" value set in STF tests is the time the test is expected to take to complete. It's not the "accepted duration of inactivity" - after which the "POSSIBLE HANG DETECTED" message is thrown by STF, and the test is failed. The "accepted duration of inactivity" is not parameterized at test level, and is actually hard-coded to be 15 minutes.

As an enhancement, we need to add an option in ST

[2019-01-03 19:47] #53 closed, assigned to Mesbah-Alam

[2019-01-03 19:53] Mesbah-Alam commented on #20
We have been running STF based tests at Adopt : https://ci.adoptopenjdk.net/view/Test_system/job/openjdk11_j9_systemtest_x86-64_macos/109/

All changes required in STF to support osx seem to be there.

@sxa555  - Please close this Issue if there is no other blocking issue in STF regarding OSX support.

[2019-01-07 16:17] #20 closed, assigned to sxa

[2019-01-08 20:40] Mesbah-Alam commented on #38
The modularity tests have been [updated](https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/105/files) and tested based on the latest JDK11 sdk . This PR is obsolete as no test uses JlinkDefinition's obsolete options anymore. Closing it at this point.

[2019-01-08 20:40] #38 closed, assigned to nobody

[2019-04-02 19:51] Mesbah-Alam opened #58 "DirectoryRef can't handle multiple /.. at the end of path"
DirectoryRef fails to process paths where we have more than one "/.." at the trailing end:

https://github.com/AdoptOpenJDK/stf/blob/7327579a6c29ca76211c1a3750db81e8476b14cf/stf.core/src/stf.core/net/adoptopenjdk/stf/environment/DirectoryRef.java#L75

[code]

The code above will only handle cases where we have paths such as "/x/y/z/..". However, if we have a path such as "/x/y/z/../.." it will rec

[2019-04-03 16:03] #58 closed, assigned to Mesbah-Alam

[2019-04-09 10:12] ben-walsh opened #61 "Provide an ability to output what has happened during a passing test"
During PD it can be very helpful to see what happens with a test when it passes, particularly when wanting to compare differing passing/failing between different JVMs, JDK levels etc ...
Currently, the framework only outputs from failing tests.

The following "hack" was utilised during such PD efforts with a load test recently ...

[code]

This should be generalised, as necessary for non-load runn

[2019-06-07 12:00] andrew-m-leonard opened #65 "JavaVersion.isIBMJvm() incorrect or need isOpenJ9Jvm()"
JdiTest suite assume if isIBMJvm() is true it can use jdwp trace=.. options, but they are not supported for OpenJ9:
[code]
Either IBMJvm() means IBMSDK only, or JdiTest needs a JavaVersion.isOpenJ9Jvm() method?

[2019-06-11 13:48] lumpfish commented on #65
Some pertinent history: https://github.com/AdoptOpenJDK/stf/issues/7

[2020-06-23 17:38] andrew-m-leonard opened #79 "STF check_free_space() needs option to be disabled for dynamic filesystem environments"
For dynamic filesystems, like zfs, mounts are growable, thus querying current free disk space is not valid, as it will simply grow... In these environments we need an option to disable the STF check_free_space() method:
https://github.com/AdoptOpenJDK/stf/blob/7c246920983f76adae8595b1d4f9677b956e08c2/stf.core/scripts/stf.pl#L379

[2020-06-23 18:58] jdekonin commented on #79
I think the check and output to detail how much would still be a valid bit of information to leave in though.  Just not the "fail if not enough is free" part.

[2020-06-24 17:55] Mesbah-Alam commented on #79
Does it make sense to altogether remove the step to `exit` if `$mb_free < 3072` on all platforms? Or is it still useful to exit on platforms where the filesystem is not growable? (In that case we'd need the list of such platforms).

[2020-06-24 18:45] andrew-m-leonard commented on #79
So at the moment I only know of ZFS on zOS, and only when it has been configured with AGGRGROW

[2020-06-24 19:17] Mesbah-Alam commented on #79
In that case, it makes sense to update the logic in stf.pl to only exit due to `$mb_free < 3072` when not on z/OS. I'll have a PR for that.

[2020-06-25 10:32] #79 closed, assigned to Mesbah-Alam

[2020-06-26 20:37] Mesbah-Alam opened #81 "Throw an exception upon mauve test failure"
Throwing an exception during a mauve test failure means we can add an -Xdump option (while running on OpenJ9 or IBM SDK) hooked with that exception. This helps debug Mauve test failures better.

Related : https://github.com/eclipse/openj9/issues/8204#issuecomment-650207787

[2020-06-29 20:53] #81 closed, assigned to Mesbah-Alam

[2020-10-28 15:55] Mesbah-Alam opened #86 "Procdump not working properly in STF"
Procdump is used to create diagnostics, but it seems not working, the stdout shows the following:

[code]

Excerpt from test output:

[code]

Details can be found from the example of a hanging lambda load test from internal build, output of which is attached here:

[LambdaLoadTest_OpenJ9_NonLinux_special_24.zip](https://github.com/AdoptOpenJDK/stf/files/5453208/LambdaLoadTest_OpenJ9_NonLinux_speci

[2020-10-28 15:57] Mesbah-Alam commented on #86
[LambdaLoadTest_OpenJ9_NonLinux_special_24.zip](https://github.com/AdoptOpenJDK/stf/files/5453175/LambdaLoadTest_OpenJ9_NonLinux_special_24.zip)

[2020-10-28 16:05] Mesbah-Alam commented on #86
Initial observations:

In STF, procdump is invoked from [generate_process_diagnostics](https://github.com/AdoptOpenJDK/stf/blob/master/stf.core/scripts/stf/Commands.pm#L960) perl sub-routine.

From the error message, it appears that the PID might be wrong. However, looking at the code above, the PID is being obtained via `$process->{pid}`. And the `else` block (for non-Windows case) is also using

[2020-10-28 16:07] Mesbah-Alam commented on #86
@lumpfish - could you please share your thoughts on the above? Is Cygwin somehow throwing us off here?

[2020-11-03 12:42] lumpfish commented on #86
Do you know if it fails all the time or just on certain machines?  The example you have here is running 32 bit jdk - there are psexec64.exe and procdump64.exe for 64 bit processes.  Do you know if it also fails on 64 bit?

[2020-11-03 14:32] lumpfish commented on #86
Trying to run psexec.exe on a local machine (not as Administrator) I get the following:

1 `psexec.exe -s -d -i cmd.exe`.  I receive a pop-up saying that I must accept the enduser license agreement.
2. `psexec.exe -accepteula -s -d -i cmd.exe` (i.e. accept the eula on the command line), I see:
[code]
So it may be that the user running the tests in the Jenkins pipelines is not able to execute the p

[2020-11-03 15:04] lumpfish opened #87 "Build failure if PREREQS_ROOT contains multiple paths"
During the STF build (`make configure`) prereqs (e.g. junit, asm, windows-sysinternals) are installed to the PREREQS_ROOT make macro location.  This is then passed as a command line argument into stf itself which it uses to add the correct classpath values to the various test command lines.

STF supports multiple paths (separated by the `;` path separator on all platforms), which allows for prereq

[2020-11-03 15:18] lumpfish commented on #87
PRs to fix:
stf - https://github.com/AdoptOpenJDK/stf/pull/88
openjdk-systemtest - https://github.com/AdoptOpenJDK/openjdk-systemtest/pull/371

[2020-11-03 16:47] Mesbah-Alam commented on #87
@lumpfish - Could we please run some grinders to ensure the changes made in the above 2 PRs would not break the TKG way of running STF based tests?

[2020-11-03 16:54] lumpfish commented on #87
There are already links to test runs in the PRs
stf - #88
openjdk-systemtest - AdoptOpenJDK/openjdk-systemtest#371
The tests were run with the changes from both PRs

[2020-11-03 18:11] #87 closed, assigned to nobody

[2020-11-04 12:39] lumpfish commented on #86
Some more investigation and I don't think psexec permissions has anything to do with it - psexec is not being run in the test scripts at al).  I've reproduced the symptoms locally - the pid returned from win32::CreateProcess does not seem to be the same as the pid procdump is expecting.  Trying to work out what's going on.......

[2020-11-05 12:17] lumpfish commented on #86
Turns out this is due to 64 vs. 32 bit perl.
The test script starts a process using win32::CreateProcess and then extracts the pid from the returned ProcessInformation structure.
Preceding the pid in the structure are two pointers - these are assumed to be 4 bytes and the pid therefore starts at byte 9.
When 64 bit perl is used the pointers are 8 bytes and the pid starts at byte 17.  So the pid be

[2020-11-05 19:57] Mesbah-Alam commented on #86
https://github.com/AdoptOpenJDK/stf/pull/89 should fix this. Closing this PR. Will re-open if the issue somehow resurfaces again in the openj9 builds.

Thanks @lumpfish !

[2020-11-05 19:57] #86 closed, assigned to lumpfish

[2020-11-24 15:53] lumpfish opened #90 "timeoutLimitTest is incorrectly set when setInactivityLimit is used"
#216 added setInactivityLimit as a parameter to the openjdk-systemtest LambdaLoadTest.

However, a bug in STF means that this has a side effect of preventing most of the tests in the test suite from running.

A typical test output is currently:
[code]
Note the following lines in the output:
[code]
When inactivityLimit is specified, STF is incorrectly setting timeLimitedTest to true. This in turn m

[2020-12-01 12:14] lumpfish opened #93 "Tests fail with Could not terminate process PID=nnnn: Access is denied"
Tests fail with Could not terminate process PID=nnnn: Access is denied

https://github.com/eclipse/openj9/issues/11021 describes tests which fail because tests fail from time to time with `Could not terminate process PID=nnnn: Access is denied.`.

At some point code was added to https://github.com/AdoptOpenJDK/stf/blob/master/stf.core/scripts/stf/Commands.pm to kill Windows processes using pskill.

[2020-12-01 15:23] Mesbah-Alam commented on #93
What was the original reasons for adding pskill and Stop-Process? Did we not always have the terminate() function which uses the Win32 API directly in our disposal?

Just trying to understand if going back to using terminate() function would have any side effects.

[2020-12-01 16:25] lumpfish commented on #93
Since we know why Stop-Process was added the question is really 'why was pskill added?'.  I don't know the answer to that, except to surmise that maybe the writer of Commands.pm did not realise that the terminate() function was also implemented for Windows (Commands.pm was added after the ProcessMgmt library).  I have created https://github.com/AdoptOpenJDK/stf/pull/94 with Stop-Process / pskill r

[2020-12-01 16:42] lumpfish commented on #93
That's the motivation for running the sanity.system tests across all the releases.   We do know that using Stop-Process has the side effect reported by https://github.com/eclipse/openj9/issues/11021.

[2020-12-02 10:00] lumpfish commented on #93
Test runs of sanity,system using https://github.com/AdoptOpenJDK/stf/pull/94  (all processes killed successfully where necessary):
sanity.system

jdk8
hotspot:
win_x86-64: https://ci.adoptopenjdk.net/job/Grinder/5057/console
win_x86-32: https://ci.adoptopenjdk.net/job/Grinder/5056/console
openj9:
win_x86-64: https://ci.adoptopenjdk.net/job/Grinder/5052/console
win_x86-64_xl: https://ci.adoptopenjd

[2020-12-08 09:27] lumpfish commented on #93
This occurred on an AdoptOpenJDK build yesterday: https://ci.adoptopenjdk.net/job/Test_openjdk11_j9_sanity.system_x86-64_windows_xl/408/consoleFull, so it's affecting tests at AdoptOpenJDK as well as Eclipse/openj9:
[code]
@Mesbah-Alam - are you OK for me to go ahead and merge the PR?

[2020-12-08 14:49] Mesbah-Alam commented on #93
@lumpfish The PR was merged. Thank you!

[2020-12-08 18:09] #93 closed, assigned to lumpfish

[2020-12-15 18:40] Mesbah-Alam opened #95 "Optimize STF generated paths to keep test paths as short as possible"
**Background**

Windows platform's MAX_PATH restrictions have sporadically been causing STF based system tests to fail due to generated path lengths > MAX_PATH.

We have already [been shortening](https://github.com/AdoptOpenJDK/openjdk-tests/issues/2109) some system test names as a fix.

However, to avoid such issues in future, we should investigate ways to optimize STF generated paths to keep the

[2020-12-16 15:07] lumpfish commented on #95
I run locally a lot, and find the current STF output naming system works very well.
Isn't the TKG name actually the playlist test target name (as opposed to the STF plugin test name)?

The way this has been fixed before (and the preferable way imo) is to use the Windows subst command to assign a drive letter to the root of the test output directory - e.g.
[code]
and from that point on use T: to re

[2020-12-16 19:03] Mesbah-Alam opened #96 "download-file macro fails intermittently on Windows with Unable to establish SSL connection"
**Overview:**

On some internal Windows machines, we are seeing the `wget` command that downloads `SysinternalsSuite.zip` file failing with following error:

[code]

**Observations:**

1) The issue goes away (on the same Windows machine), if we use `--secure-protocol=TLSv1` instead of `--no-check-certificate` in the wget option. (e.g https://github.com/AdoptOpenJDK/stf/compare/master...Mesbah-Alam

[2020-12-17 12:47] lumpfish commented on #96
Note that the STF build just uses the wget / curl which is on PATH.
I recently set up a machine locally to run STF tests and found that wget-1.20.3 worked for me.

[2020-12-17 14:01] Mesbah-Alam opened #98 "Clean up version numbers from all system test prereq jars and their references"
Copying @llxia 's comment from https://github.com/AdoptOpenJDK/stf/pull/97#discussion_r544664372:

"Could we not include the version in the jar name? Instead of downloading into asm-9.0/asm-9.0.jar, just use a generic name. For example, asm.jar. If we do it this way, we do not need to update the folder and file name for every version update in https://github.com/AdoptOpenJDK/openjdk-systemtest/pul

[2020-12-17 14:23] lumpfish commented on #98
My main reservation is that this change it would no longer be obvious which version was present in systemtest-prereqs,

[2020-12-17 14:44] Mesbah-Alam commented on #98
Agreed. I expressed the same concern here: https://github.com/AdoptOpenJDK/stf/pull/97#discussion_r544672396

I guess we'd have to decide which con we all agree to accept:

1) Remove version number in asm jar - so that it's NOT obvious any longer in build output as to which version of ASM we are using (Note, this also is inconsistent with the rest of the prereq jars)

2) Keep the version number in

[2020-12-17 15:13] Mesbah-Alam commented on #96
Additional note: the internal machine, on which we do not see the above issue and download-file works as is, has the exact same version of Wget as that on the machine where it fails: `wget-1.19.1`.

[2020-12-17 21:56] llxia commented on #95
Have we tried `mklink`? Something like
`mklink /J myShortDir F:/Users/jenkins/workspace/Test_openjdk11_j9_sanity.system_x86-64_windows_mixed_cm_Nightly_testList_1/`

[2020-12-21 10:56] lumpfish commented on #98
Maybe create a metadata file in systemtest-prereqs next to the asm.jar file in the build after the download is successful (e.g. version-info.txt)?  Perhaps the download URL would be sufficient (to identify the version)?

[2020-12-22 17:25] Mesbah-Alam commented on #98
Can we simply have ASM version number defined as a property somewhere at the beginning of top.xml?
(We'd need it to build the download URL anyway).

Users interested in knowing the exact version of ASM can just look that up in top.xml. This sounds simpler than going into the systemtest_prereqs directory and looking for version-info.txt.

In either case, we'd have to update the documentation to tel

[2020-12-22 19:25] lumpfish commented on #98
The version number will have to be in the build files somewhere anyway so the correct version is downloaded.

I was coming from the point of view of someone having run the build, looking at the systemtest-prereqs folder and seeing the asm folder with the asm.jar in it.
If there was a version-info.txt next to it you might infer that would tell you something about the version.
It might be a challeng

[2021-01-07 21:28] Mesbah-Alam commented on #98
We can add a version-info.txt under the asm folder, as suggested by @lumpfish above, and get rid of the version number from all the rest of the places.

@llxia - are you alright with this solution?

Just wanted to confirm with everyone before implementing this.

[2021-01-08 14:30] llxia commented on #98
In the console output, there is info about the download URL and version. Do we really need extra version-info.txt file?

[code]

[2021-01-08 16:07] Mesbah-Alam commented on #98
Quoting from Simon's comment above:

If there was a version-info.txt next to it you might infer that would tell you something about the version.

@lumpfish - can the user look up the ASM version in the build output, as Lan mentioned above?

As for me, I've only ever looked up ASM version when it has been time to upgrade the ASM library, e.g., to enable ASM dependent tests for new JDK versions. So,

[2021-01-08 18:00] llxia commented on #98
For the users who do not have access to the build output (very unlikely), they should be able to check top.xml for the version.

[2021-01-12 09:38] lumpfish commented on #98
My issue was not that the information about the asm version being used isn't available (you can see it in the build files which do the download as well as the build output), but I don't think that's necessarily the most obvious place to look.  If you've run the build previously and have the systemtest-prereqs directory then the version of the dependent packages (junit_4.2 etc.) is obvious from the

[2021-01-14 18:58] Mesbah-Alam commented on #98
After reading the discussion above, I feel there is more disadvantage in keeping the version number in the prereq jar name and its folder name; since updating a prereq jar (e.g. ASM) is something we do more often than looking for its current version number in file/folder name.

Here's what I propose :

1) Clean up version number from jar file name and folder name of all prereq jars with version nu

[2021-01-15 19:08] Mesbah-Alam commented on #98
The following 4 PRs will remove version numbers from system test prereq jars:

1. https://github.com/AdoptOpenJDK/stf/pull/99 contains:
    - The actual changes in top.xml where logic to download, expand and store prereq jars in systemtest_prereq location has been updated.
    -  Removal of version numbers from prereq jar references in STF repo.

2. https://github.com/AdoptOpenJDK/openjdk-tests/pu

[2021-01-23 01:03] Mesbah-Alam commented on #98
The related PRs have been merged.

[2021-01-23 01:03] #98 closed, assigned to Mesbah-Alam

[2021-01-27 18:56] Mesbah-Alam opened #101 "Revisit Java invocation build sequence logic in STF"
STF enforces a particular order in which we can define a `LoadTestProcessDefinition` instance. This enforcement can cause STF test plugins to become complicated (or less simple than what is desirable). For example:

[code]

The above definition could be simpler, if STF allowed the following:

[code]

This issue is opened to revisit the design principles of these order enforcements and update the l

[2021-02-03 17:21] lumpfish commented on #90
Fixed by https://github.com/AdoptOpenJDK/stf/pull/102

[2021-02-03 17:21] #90 closed, assigned to nobody

[2021-02-05 18:06] sxa commented on #96
@willsparker is there any chance this is related to the change you saw recently in the defaults on WIndows Vagrant VMs? https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/1858? If @Mesbah-Alam 's is definitely the cygwin one then it's unlikely but worth some consideration especially since it seems sensitive to the TLS version.

[2021-02-08 08:12] Willsparker commented on #96
It looks to be the same issue- however, for me, this was only affecting `Powershell` 's `Invoke-WebRequest` (which is aliased to `wget`) - `Cygwin`'s `wget` worked fine at least in my testing.

[2021-02-09 12:34] lumpfish opened #103 "Use jcmd to create dump files on Windows"
Request from https://github.com/eclipse/openj9/issues/11904:

First step is to identify the jcmd commands which result in the creation of these files from https://docs.oracle.com/javase/8/docs/technotes/guides/troubleshoot/tooldescr006.html

[2021-02-09 15:23] lumpfish commented on #103
The jcmd commands required are
[code]

[2021-02-18 16:07] lumpfish commented on #103
PR https://github.com/AdoptOpenJDK/stf/pull/105 does the following:

1. Creates a getJavaProperties method to return the properties listed by `java -XshowSettings:properties` as a hash array
2. Creates a java_properties_check.pl script which can be used to test the getJavaProperties method from the command line.
3. Uses the getJavaProperties method to determine whether `java.vm.name` contains `J9`

[2021-02-18 16:39] lumpfish commented on #103
Fixed by https://github.com/AdoptOpenJDK/stf/pull/105

[2021-02-18 16:39] #103 closed, assigned to lumpfish

[2021-03-18 17:03] Mesbah-Alam opened #109 "Add Solaris support in STF"
STF needs to include support for Solaris  / SunOS platform. This issue is raised to track this work.

Background: https://github.com/AdoptOpenJDK/openjdk-tests/issues/799#issuecomment-801986704

Related : https://github.com/AdoptOpenJDK/openjdk-tests/issues/799

[2021-03-19 11:59] #109 closed, assigned to Mesbah-Alam

[2021-04-01 12:25] lumpfish opened #110 "os.arch riscv64 not recognised"
STF uses the value `riscv` to determine it is running on a risc-v machine.

The openj9 implementation sets `os.arch` to `riscv` and so that value has been used directly until now,

The bisheng (Huawei) build sets `os.arch` to `riscv64` which causes tests to fail because `riscv64` is not recognised.

The failure output is:
[code]

The fix is to recognise `os.arch=riscv64` as well as `os.arch=riscv`

[2021-04-01 12:31] #110 closed, assigned to lumpfish

[2021-04-22 17:40] Mesbah-Alam opened #114 "Reimplement logic to find Java version in JavaVersion.java"
We should remove the version check altogether and update the logic of figuring out various Java versions in [JavaVersion.java](https://github.com/adoptium/STF/blob/master/stf.core/src/stf.core/net/adoptopenjdk/stf/environment/JavaVersion.java) to depend on Java system properties instead of parsing java -version output.

[2021-08-17 00:23] smlambert opened #119 "Pass javahome-execute in as an argument"
In order to be able to utilize systemtest material for JRE testing, being able to pass in javahome-execution on the commandline (changing it from default JAVA_HOME setting) will be useful.

We can not set JAVA_HOME to JRE_HOME as a whole, since javac is needed to compile test material.

Currently if you try to pass it in (see https://github.com/smlambert/openjdk-tests/tree/enablePreview), it produ

[2021-08-17 16:30] smlambert commented on #119
Will close this for now, pursuing other avenues.

[2021-08-17 16:30] #119 closed, assigned to nobody

[2021-12-13 16:32] llxia opened #121 "Upgrade log4j to 2.15.0"
For system tests, we are using log4j version 2.13.3
https://github.com/adoptium/STF/blob/6abbb82d569585e2c2a1f62bf7aedfdfc4594730/stf.build/include/top.xml#L51

We need to upgrade it to the latest version (2.15.0) due to security issues. See infrastructure/issues/6302

[2021-12-13 16:42] llxia commented on #121
To test the changes in Jenkins, https://github.com/adoptium/aqa-tests/issues/3175 has to be fixed first.

[2021-12-13 16:46] llxia commented on #121
FYI @Mesbah-Alam

[2021-12-14 13:42] #121 closed, assigned to nobody

[2021-12-15 18:45] llxia opened #123 "Upgrade log4j to v2.16.0"
We recently upgraded to log4j v2.15.0. However, it is recommended to update to 2.16.0 ASAP.

https://archive.apache.org/dist/logging/log4j/2.16.0/apache-log4j-2.16.0-bin.zip

infrastructure/issues/6302#issuecomment-38708769

[2021-12-15 18:46] llxia commented on #123
@Mesbah-Alam could you take care of this issue? Thanks

[2021-12-15 19:03] llxia commented on #123
Please note systemtest.getDependency job on all Jenkins needs to be triggered after the PR to ensure we pre-stage upgraded log4j. Similar to https://github.com/adoptium/STF/pull/122

[2021-12-15 21:31] #123 closed, assigned to Mesbah-Alam

[2022-01-22 20:15] Mesbah-Alam commented on #96
The download-file macro (https://github.com/adoptium/STF/blob/master/stf.build/include/top.xml#L370) now uses curl.

[2022-01-22 20:15] #96 closed, assigned to nobody

[2022-06-16 13:50] llxia opened #129 "Replace master with main in STF repo"
Please replace master with main in the following:

https://github.com/adoptium/STF/search?q=master

Related: runtimes/java-cr/issues/326

[2022-06-16 16:08] #129 closed, assigned to Mesbah-Alam

[2022-06-27 16:13] Mesbah-Alam opened #131 "Produce system core file at the event of a hang for STF tests"
STF kills a hanging test process with `kill -3` on non-Windows platforms. We want to add `-Xdump:system:events=user` to all STF system test command lines, so that a system core gets generated when a `kill -3` occurs. It's not the default behaviour, but for running tests that behaviour is desired.

[2022-06-28 19:25] #131 closed, assigned to nobody

[2022-10-29 15:11] ultramancoder commented on #114
Hi! Trying on work on this task but I could not find any tests to verify the changes are correct. Any suggestions on how I should test my changes or should I open a PR directly for review?